body {
  background-color: rgb(223, 209, 188);
  color: rgb(99, 101, 54);
  font-family: sans-serif;
}

.container {
  margin: 0 auto;
  width: 620px;
  height: 570px;
  border-radius: 50%;
  background-color: rgb(210, 181, 151);
  padding: 15px;
  box-shadow: 0px 7px 29px 0px rgb(94, 118, 131, 0.5);
}

#title {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 400px;
}

#cities {
  margin-left: 90px;
  margin-bottom: 15px;
  padding: 5px;
  width: 70%;
  border-radius: 3px;
  color: rgb(99, 101, 54);
  border: 1px rgb(224, 220, 211);
  background-color: rgb(224, 220, 211);
}

/* Clocks */
h2 {
  color: rgb(76, 49, 37);
  margin: 0 0 10px;
  font-size: 28px;
}
.city {
  display: flex;
  margin: 20px 0;
  margin-left: 40px;
  margin-right: 30px;
  padding: 10px 0;
  justify-content: space-between;
  border-bottom: 1px dashed rgb(224, 220, 211);
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.6;
}

.time {
  font-size: 40px;
  font-weight: bold;
}

.time small {
  font-size: 20px;
}

/* Footer */
footer {
  text-align: center;
  margin-top: 30px;
  opacity: 0.7;
}

#planet {
  display: block;
  margin: 0 auto;
  width: 130px;
  margin-top: -180px;
  margin-bottom: 35px;
}

.github {
  color: rgb(76, 49, 37);
  font-weight: bold;
}
